{
  "arrowParens": "avoid",
  "printWidth": 110,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "endOfLine": "auto",
  "singleQuote": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
